/* Danh mục */
.container p.nameCategory{
  text-align: center;
}
.categories .imgCategory{
    padding-bottom: 94%;
    border-radius: 7px;
  }
  .carousel-container {
    position: relative;
  }
  
  .custom_slider .item .img-100 {
    background: #fff;
    border-radius: 7px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
  }
  .slick-next:before, .slick-prev::before{
    font-size: 30px !important;
    color: #70757a !important;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
      color: transparent;
      outline: none;
      /* background: rgb(0 0 0 / 50%)!important; */
  }
  .custom_slider .item .nameCategory {
    color: #0060A5;
    margin: 8px 0;
  }
  
  /* Custom arrows */
  .slick-prev, .slick-next {
    /* background-color: #fff !important; */
    border-radius: 50%;
    width: 40px!important;
    height: 40px!important;
    z-index: 100;
  }
  
  .slick-prev:hover, .slick-next:hover {
    opacity: 1;
  }
  
  .slick-prev {
    left: -10px !important;
  }
  
  .slick-next {
    right: -10px !important;
  }

  /* Sản phẩm nổi bật và các loại khác */

.bannerCategories{
    padding-bottom: 15%;
    border-radius: 24px;
  }

.imgProduct{
    padding-bottom: 95%;
    border-radius: 7px;
  }

  .contentProduct .btn{
    padding: 0px 2px;
  }
  
  .contentProduct p{
    margin: 0px;
  }
  
  .checked {
    color: blue;
  }
  
  .contentProduct .fa-star{
    font-size: 10px !important;
  }

  @media (max-width: 1024px){
    .container .fs-18{
        font-size: 16px !important;
    }
    .container p.nameCategory{
        font-size: 14px !important;
    }
  }

  /* Chỉ hiển thị 2 dòng */

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  max-width: 100%;
}