/* breadcrumb */
.breadcrumb{
  background: #E9EEFF !important;
}
.breadcrumb ul {
  padding: 10px 16px;
}
.breadcrumb li+li:before {
  padding: 8px;
  content: "/\00a0";
}
.breadcrumb  li a {
  color: #70757a;
}
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* category */
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.category .see-more {
  padding: 12px 20px 12px 20px;
  background: #ffcc00!important;
  clip-path: polygon(0 100%, 90% 100%, 100% 0, 10% 0);
  margin-left: auto;
}
.category a {
  padding: 12px 50px 12px 20px;
  background: #003366;
  border-radius: 5px;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0 100%);
}
.imgdetaisCategory{
  padding-bottom: 56%;
  border-radius: 7px;
}
.custom_slider .item {
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2) !important;
  margin: 10px;
}
.slick-prev, .slick-next {
  width: 50px !important;
  height: 50px !important;
  z-index: 2;
}
.slick-prev:before, .slick-next:before {
  content: "" !important;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}
.slick-prev:before,.slick-next:before{
  height: 40px;
  width: 40px;
}
.slick-prev:before {
  background-image: url('../icons/left.svg');
}
.slick-next:before {
  background-image: url('../icons/right.svg');
}
.slick-prev {
  left: -10px !important;
}
.slick-next {
  right: -18px !important;
}
.custom_slider .item p {
  color: #003366;
}
 .category .slick-dots{
  display: none !important;
}
/* filter */
#filterContent ul li{
  margin: 5px;
}
.selectCategory .iconMenu, .icon-right{
  height: 22px;
  width: 22px;
}
.selectCategory h2.fs-20{
  border-bottom:1px solid rgba(0, 0, 0, .7);
  color: #003366;
}
#filterContent .category-item, .category-item .subcategory input, .category-item .subcategory label{
  cursor: pointer;
  font-size: 17px !important;
}
/* .category .imgdetaisCategory img.img-100{
  vertical-align: middle !important;
} */
/* button sort */
.filterProduct button:hover{
  background: #e1dfdf;
}
.filterProduct button.active {
  background: #003366 !important;
  color: white;
}
.selectCategory select, .selectCategory button{
  border-radius: 34px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  margin-right: 5px !important
}
.selectCategory .buttonSelect button{
  background: #003366 !important;
  border-radius: 12px !important;
}
.buttonSelect .col-12 button{
  background: #ffcc00 !important;
  padding: 15px 20px;
}
.filterProduct select:hover{
  background: #e1dfdf;
}
/* ListProduct */
.listProduct ul{
  flex-wrap: wrap;
  justify-content: center !important;
}
.listProduct ul li{
  width: 17%;
  flex: 0 0 17%;
  margin: 9px 9px;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2)!important;
  padding: 2px;
}
.listProduct ul li:hover{
  transform:  scale(1.05);
  transition: all .3s ease;
}
/* panigation */
.pagination a {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 100%;
}
.pagination a.active {
  background: #003366 !important;
  color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/* cuối trang */
.describeCategory p{
  line-height: 30px;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.text-content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
}
.text-content.expanded {
  max-height: 1000px; 
}
.text-content.expanded::after {
  display: none;
}
.bannerDescribeCategory{
  padding-bottom: 57%;
}
@media all and (max-width: 767px) {
  .breadcrumb  li, .container .fs-18{
    font-size: 15px !important;
  }
  .listProduct ul li{
    width: 42.5% !important;
    flex: 0 0 42.5% !important;
  }
  .selectCategory .desktop{
    display: none !important;
  }
  .filterProduct{
    width: 100% !important;
  }
  .mobile .bg-light{
    background-color: #003366 !important;
    border-radius: 7px;
    padding: 12px 0px 12px 0px;
  }
  .pagination a{
    font-size: 12px !important;
    padding: 8px 15px !important;
    margin: 2px !important;
  }
/* mega menu mobile */
.category-mega-menu {
  background: #fff;
  transform: translateY(-1000%);
  transition: transform 0.3s ease-in-out;
}
.category-mega-menu.show {
  transform: translateY(0);
  overflow: auto;
}
.category-mega-menu .close-btn {
  top: 10px;
  right: 20px;
}
.category-mega-menu .iconMenu, .mobile nav .iconMenu {
  width: 18px;
  height: 18px;
}
.category-mega-menu .subCategory button{
  border-radius: 9px;
  padding: 8px;
  background: #ecf1ff;
}
.category-mega-menu .buttonFilter button{
  border-radius: 9px;
  padding: 8px;
}
.selectCategory select{
  padding: 10px 20px !important;
}
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .listProduct ul li{
    width: 29.5% !important;
    flex: 0 0 29.5% !important;
  }
  .selectCategory .mobile{
    display: none !important;
  }
}
@media all and (min-width: 1024px) {
  .selectCategory .mobile{
    display: none !important;
  }
}
@media all and (min-width: 1279px) {
  .selectCategory .mobile{
    display: none !important;
  }
  .listProduct ul li{
    width: 17.8% !important;
    flex: 0 0 17.8% !important;
  }
}

