header {
    font-size: 12px;
    color: #000;

}

.header-desktop {
    background: url('../images/bg-header.png') no-repeat center center/cover;
}

.form-control:focus {
    box-shadow: none;
}

.top-bar {
    /* background: #0a2144; */
    padding: 10px 0px;
}

.logo-header {
    width: 150px;
    padding: 0 0 0 10px;
}

/* Button Search ================================= */
.search-box {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 50px;
    border: none;
    margin: 25px 0 0 50px;
}

.search-box img {
    width: 20px;
}

.login-btn {
    color: #fff;
    border: none;
    font-size: 14px;
}

.login-btn img {
    width: 14px;
    margin: 5px;
}

.cart {
    color: #fff;
    width: 45px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Main Menu =====================================*/
.main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Hiệu ứng border bottom */
.main-menu ul li>a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

/* .main-menu ul li>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F1AD2F;
    transition: width .3s;
}

.main-menu ul li>a:hover::after {
    width: 100%;
    transition: width .100s;
} */

/* ====================== */

.menu-btn {
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transform: skew(-10deg);
    background: #F1AD2F;
}

.main-menu ul li {
    position: relative;
    padding: 15px 15px 15px 0;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* Mega Menu ==============================================*/
.main-menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 999;
    flex-direction: column;
}

.main-menu ul li:hover ul {
    display: block;
}

.main-menu ul li ul li a {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-size: 16px;
    font-weight: 500;
}

.main-menu ul li ul li:hover {
    background: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Mega Menu Item==============================================*/
.main-menu ul li ul li {
    position: relative;
    width: 100%;
    padding: 15px;
}

.main-menu ul li ul li ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    /* max-width: 1080px;
    height: 555px; */
    padding: 10px;
    display: none;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.main-menu ul li ul li:hover ul {
    display: flex;
}

/* MOBILE ======================================== */
/* .header-mobile nav {
    background: url('../images/bg-header.png') no-repeat center center/cover;
    padding: 0;
    margin: 0;
}

.header-mobile nav .btn-header-mb {
    background: #fff;
    border: 0;
    padding: 5px;
} */

/* Hiển thị dropdown cấp 2 khi hover */
/* .dropdown-menu:hover {
    display: block;
} */

/* Điều chỉnh dropdown con */
/* .dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
} */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 992px) {
    .header-desktop {
        display: none;
    }
}


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}