header {
    font-size: 12px;
    color: #000;
}

.header-desktop {
    background: url('../images/bg-header1.png') no-repeat center center/cover;
}

.top-bar {
    /* background: #0a2144; */
    padding: 10px 0px;
}

.logo-header {
    width: 150px;
    padding: 0 0 0 10px;
}

/* Button Search ================================= */
.search-box {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 50px;
    border: none;
    margin: 25px 0 0 50px;
}

.search-box img {
    width: 20px;
}

.login-btn {
    color: #fff;
    border: none;
    font-size: 14px;
}

.login-btn img {
    width: 14px;
    margin: 5px;
}

.cart {
    color: #fff;
    width: 45px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

/* Main Menu =====================================*/
.main-menu {
    display: flex;
    align-items: center;
}

.menu-btn {
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.menu-btn2 {
    border: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transform: skew(-10deg);
    background: #F1AD2F;
}
/* Hiệu ứng border bottom */
.cool-link-mainmenu {
    display: inline-block;
    text-decoration: none;
}

.cool-link-mainmenu::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #F1AD2F;
    transition: width .3s;
}

.cool-link-mainmenu:hover::after {
    width: 100%;
    transition: width .100s;
}

.main-menu ul {
    display: flex;
}

.main-menu li {
    position: relative;
}

.main-menu .dropdown a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
    font-weight: 700;

}

.main-menu a:hover {
    color: #ffcc00;
}

/* Mega Menu ==============================================*/
.main-menu .dropdown ul {
    position: absolute;
    width: 100%;
    left: 0;
    background: white;
    display: none;
    z-index: 999;
    flex-direction: column;
    border: 1px solid #6e6e6e;
}

.main-menu .dropdown:hover ul {
    display: flex;
}

.main-menu .dropdown ul li a {
    color: #000;
    font-weight: 700;
}

.main-menu .dropdown ul li:hover {
    background: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Mega Menu Item==============================================*/
.main-menu .dropdown ul li {
    position: static;
    padding: 14.5px 0;
    display: inline-block;
}

.main-menu .dropdown ul li .menu-items {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    max-width: 1000px;
    height: 555px;
    padding: 10px;
    display: none;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

    /* border: 0.5px solid #6e6e6e; */
}
.main-menu .dropdown ul li:hover .menu-items {
    display: block;
}
.main-menu p {
    text-align: center;
    padding: 10px 0 20px 0;
    font-size: 14px;
}

/* MENU SERVICE================================================== */
.main-menu ul li .menu-items-service {
    position: absolute;
    /* top: 100px;*/
    left: -220%;
    width: 100vw;
    max-width: 1200px;
    /* height: 455px; */
    display: none;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 30px;
}

.main-menu ul li:hover .menu-items-service {
    display: block;
}

/* MOBILE ======================================== */
.header-mobile nav {
    /* background: #0a2144; */
    background: url('../images/bg-header1.png') no-repeat center center/cover;
    padding: 0;
    margin: 0;
}

.header-mobile nav .btn-header-mb {
    background: #fff;
    border: 0;
    padding: 5px;
}

/* Hiển thị dropdown cấp 2 khi hover */
.dropdown .dropdown-menu:hover {
    display: block;
}

/* Điều chỉnh dropdown con */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 992px) {
    .header-desktop {
        display: none;
    }
}


/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}