header {
    background-image: linear-gradient(323deg, #17335f 30%, rgb(12 154 209) 80%, #031f71 100%);
}

/* Button Search ================================= */
.search-box {
    max-width: 300px;
    border-radius: 50px;
    height: 40px;
}

/* Main Menu =====================================*/
.menu .menu-wrap{
    display: flex;
    gap: 30px;
}

.menu ul li {
    padding: 10px 0;
    margin: 0;
}

.menu ul ul {
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 11px 13px 12px;
}

.menu ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 3px;
}

/* ====================== */
.menu-btn {
    transform: skew(-10deg);
    background: #ffc107;
}

/* Mega Menu ==============================================*/
.menu ul ul li {
    width: 100%;
    min-width: 250px;
    padding: 10px 25px;
    position: relative;
}

.menu ul{
    display: flex;
    gap: 30px;
}

.menu ul ul a {
    color: #3d3d3d;
}

.menu ul ul li:hover {
    background: #ffc107;
    transition: .3s;
}

header.affix{
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
    animation: stuckMoveDown .6s;
    z-index: 99999;
}

header.affix .header-top{
    display: none;
}

header.affix .menu-wrap > ul > li{
    padding: 15px 0;
}

@keyframes stuckMoveDown {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1400px) {
    .menu ul li{
        padding: 8px 0;
    }
    .menu ul li a{
        font-size: 15px;
    }

    .menu ul{
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    header .container{
        max-width: 100%;
    }

    header .menu .menu-wrap{
        width: 80%;
        overflow: auto;
        white-space: nowrap;
    }

    .menu ul{
        display: block;
    }

    .menu ul li{
        margin-right: 30px;
    }

    .menu > .menu-wrap > ul > li:first-child{
        transform: translateY(5px);
    }
    /* .menu ul {
        display: block !important;
    } */
}
/* Desktop */
/* Mobile */
@media (max-width: 992px) {
    .menu {
        display: none !important;
    }

    .search-box {
        width: 50%;
    }

    .content-top-bar {
        display: none;
    }

    .cart {
        display: none;
    }

    header .icon-menu-mobile{
        display: block !important;
    }

    header .search-box{
        display: none !important;
    }
    
    header .logo-mobile{
        text-align: center;
    }

    /* Menu-m  */
    .menu-m{
        display: block !important;
        width: 80vw;
        max-width: 400px;
        transition: all 0.2s ease-in-out 0s;
        box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.15);
        z-index: 100000;
        padding: 20px 0;
        transform: translateX(-100%);
    }

    .menu-m.active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .menu-m ul a{
        padding: 15px 60px 15px 20px;
        font-size: 18px;
        color: hsla(0, 0%, 7%, .85);
        display: block;
    }

    .menu-m li{
        position: relative;
    }

    .menu-m li:not(:first-child){
        border-top: 1px solid #ececec;
    }

    .menu-m .formSearch{
        padding: 20px;
    }

    .form-search input{
        max-width: 100%;
    }

    .menu-m li span{
        width: 56px;
        height: 56px;
    }

    .menu-m ul ul{
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 20px 0;
        width: 100%;
        z-index: 3;
        background: #fff;
        width: 80vw;
        max-width: 400px;
        left: 100%;
        transition: .3s;
        height: 100vh;
        overflow: auto;
    }

    .menu-m ul ul.active{
        left: 0;
    }

    .menu-m li li:first-child img{
        transform: translateY(2px) rotate(180deg);
        margin-right: 10px;
    }

    .menu-m li li:first-child a{
        font-size: 16px;
    }

    .menu-m ul ul a{
        font-size: 14px;
    }

    .overlay-menu-m {
        background: rgba(0, 0, 0, 0.5);
        transition: all 0.2s ease-in-out 0s;
        z-index: 1000;
    }

    .overlay-menu-m.active {
        opacity: 1;
        visibility: visible;
    }

    .menu-m .menu-m-wrap{
        height: calc(100vh - 180px);
        overflow: auto;
    }
    /* End menu-m  */
    .menu-m .formSearch{
        padding: 20px;
    }

    .form-search input{
        border-radius: 44px;
        padding: 5px 45px 5px 12px;
        line-height: 1.5;
        color: #212529;
        border: 1px solid #dee2e6;
    }

    .form-search .icon-search {
        max-width: 24px;
    }

    .form-search button {
        padding: 5px;
        border: none;
        top: calc(50% + 2px);
        z-index: 2;
        padding: 4px 13px 6px;
    }

    .menu-m .logo{
        max-width: 230px;
        margin: 0 auto;
    }

    .menu-m .social-icons{
        bottom: 15px;
        z-index: 2;
        gap: 20px;
        padding-top: 10px;
        border-top: 1px solid #333333;
        background-color: #FFF;
    }

    header.affix .header-top{
        display: block;
    }

    header .container {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
}

@media (max-width: 576px) {
    header .logo-mobile img{
        max-width: 130px;
    }
}

@media (max-width: 380px) {
    header .logo-mobile img{
        max-width: 100px;
    }

    header .logo-mobile{
        text-align: left;
    }

    header .icon-menu-mobile{
        padding-right: 0;
    }
}