body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
h1, h2, h3, h4, h5,h6 {
    font-weight: bold!important;
}
p {
    color: #4b4b4b;
}
.banner .custom_slider {
    padding-bottom: 42%;
    margin: 0;
}
.banner .custom_slider .slick-slide {
    margin: 0;
}
.banner .custom_slider .slick-track {
    padding: 0!important; 
}
.banner .custom_slider .slick-next {
    right: 11px;
}
.banner .custom_slider .slick-prev {
    left: 11px;
}
.item-categories:hover a{
    color: #0a58ca;
}

/* css section box-ceo*/
.banner-1 {
    background-image: url('../images/banner-ceo-1920x537.png');
    padding: 80px 0 60px;
}
.ceo-box .info-content-text {
    line-height: 1.8;
}
.banner-bg-footer img { 
    height: 50%!important;
    object-position: left;
}
.item-categories-icon img {
    width: 80px;
    height: 80px;
}
.border-bottom {
    width: 10%;
    height: 2px;
    margin: 5px auto auto;
}
.box-categories {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.info-content-category {
    line-height: 1.8;
}
.item-categories {
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px 0.5px rgba(224, 224, 224, 1);
}
/* end box-ceo*/

/* css section box-design*/
.carousel-container {
    margin: auto;
    padding: 0 20px;
}
.item-category {
    max-width: 32%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.item-category .zoom-img {
    margin-bottom: 10px;
}
.item-category:hover .zoom-img img,
.card:hover .zoom-img img {
    transform: scale(1.1);
    border-radius: 5px;
}
.carousel-text {
    margin: 6px 0 15px;
}
.carousel-button {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background-color: #06539f;
}
.carousel-button:hover {
    background-color: #0056b3;
}
/* end box-design*/

.slide-left,
.slide-right{
    padding-bottom: 20%;
}
.img-right-best-pro {
    padding-bottom: 100%;
}
.product-item-right-img,
.product-item-left-img {
    padding-bottom: 80%;
    border-radius: 8px;
}
.product-banner-left-img {
    padding-bottom: 180%;
}
.btn-best-seller {
    border-radius: 20px;
    padding: 12px 20px;
    border: 1px solid #003366;
}
.btn-best-seller:hover {
    background-color: #06539f;
    border: 1px solid #06539f;
    color: #fff;
}
.btn-best-seller:hover span {
    color: #fff!important;
}
.pro-img-hight-right {
    padding-bottom: 83%;
}
 .product-item-left-content {
    line-height: 2.8;
 }
.img-100:hover .hover-img {
    opacity: 1;
}
.nav-link {
    padding: 11px 20px;
}
.nav-tabs {
    border: none; 
}
.product-item-right:hover .img-100 .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.product-item-right-content a {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    color: rgba(45, 45, 45, 1);
    padding: 10px 0px 3px;
}
.mobile-library {
    display: none!important;
}
.img-rating {
    width: 80px;
    height: auto;
    padding: 0 0 20px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #06539f;
    border-radius: 8px 8px 0px 0px;
    position: relative;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active::after {
    content: "";
    display: block;
    width: 50%; /* Điều chỉnh độ dài gạch chân (có thể thử 40%, 30% tùy theo mong muốn) */
    height: 3px;
    background-color: #06539f;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
 }
.content-besiness {
    width: 31%;
    border: 1px solid #003366;
    padding: 30px 20px;
    border-radius: 8px;
}
.content-besiness:hover {
    border: 1px solid #3dbeb3;
    transition: all .3s ease;
}
.content-besiness:hover h3 {
    color: #003366;
}
.wrap-content-besiness, 
.wrap-content-feedback {
    gap: 30px;
}
.box-library .product-list-right {
    grid-template-columns: repeat(5, 1fr);
}
/* css section box-active*/
.brands .custom_slider .img-brand {
    border-radius: 5px!important;
}
.brands li img:hover {
    transform: scale(1.2);
}
.banner-box-active img {
    z-index: -2;
    object-position: left;
}
.box-active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    background-color: #003366;
    opacity: 0.7;
    z-index: -1;
}
.text-title {
    line-height: 2.8;
}
.box-feedback {
    width: 31%;
    min-height: 170px;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}
.box-feedback .text-line-clamp-3::after {
    content: "\201C";
    font-family: 'Georgia';
    position: absolute;
    font-size: 80px;
    top: 48px;
    line-height: 0;
    left: 13px;
    transform: translate(0, -50%);
}
.box-feedback ul li:nth-of-type(1) {
    width: 22%;
}
.box-feedback ul img {
    border-radius: 50%;
}
.box-feedback:hover img {
    transform: scale(1.1);
}
/* end box-active*/

/* css section box-benefit */
.box-benefit {
    background-image: url('../images/banner-ceo-1920x537.png');
}
.slick-slide img {
    border-radius: 5px;
}
.content-benefit img {
    height: 55px;
}
.card img {
    height: 180px;
}
.fa-comment img,
.fa-eye img {
    width: 15px!important;
    height: auto;
}
.date {
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99;
}
.content {
    padding: 0 15px 0px;
}
.title {
    margin-bottom: 5px;
}
.description,
.actions {
    color: #555;
}
.actions {
    gap: 15px;
    padding: 10px 15px 10px;
    margin-bottom: 10px;
}
.actions .fa-comment,
.actions .fa-eye {
    margin-right: 5px;
}
/* end box-benefit*/

/* css section box-news*/
.btn-new {  
    padding: 10px;
    color: #0056b3;
    text-decoration: none;
    border-radius: 30px;
    border: 1px solid #0056b3;
}
.btn-new:hover {
    background: #0056b3;
    color: white; 
}
.list-news {
    width: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 34px auto 20px;
}
.list-news .content:hover .title {
    color: #003366;
}
.list-content-news .content {
    padding: 0px;
}
.card .actions,
.list-content-news .content:nth-of-type(1),
.list-content-news .content:nth-of-type(2){
    border-bottom: 1px dotted #4b4b4b;
}
.card {
    min-height: 100%;
    flex-direction: column;
    padding: 15px 0;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.news-content {
    gap: 25px;
}
.list-content-news {
    min-height: 397px;
    padding: 15px 20px;
    flex-direction: column;
}
.card:hover .title {
    color: #003366;
}
/*end box-newws*/

/* css-slickslider */
.custom_slider {
    margin: 20px auto;
}
.custom_slider .item-category{
    border-radius: 10px;
}
.custom_slider .slick-slide {
    margin: 0 10px;
}
.brands .slick-prev, 
.brands .slick-next {
    width: 33px;
    height: 33px;
}
.brands .slick-next:before {
    left: 25%;
    top: 6px;
}
.brands .slick-prev:before {
    left: 20%;
    top: 6px;
}
.slick-prev {
    left: -16px;
}
.slick-next {
    right: -16px;
}
.slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 9999;
}
.slick-next:before, .slick-prev:before  {
    position: absolute;
    content: "";
    top: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-next:before {
    left: 30%;
    background-image: url('../images/next.png');
}
.slick-prev:before {
    left: 20%;
    background-image: url('../images/left.png');
}
.slick-dots li button:before {
    font-size: 35px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: rgb(0 0 0 / 50%);
}
.slick-track {
    padding: 15px 0;
}
.slick-dots {
    display: none!important;
}
/*end css-slickslider*/
.see-more {
    background-color: #f1ad2f;
    padding: 10px 15px;
    transform: skew(-10deg);
}
.info-block .info-block-content {
    gap: 12px;
}
.info-block-content img {
    width: 40px;
    height: 40px;
}
.product-item-right {
    transition: all .3s ease-in-out;
    margin-bottom: 15px;
}
.product-item-right:hover {
    box-shadow: 0px 4px 8px rgba(0, 32, 92, 0.1);
    border-radius: 8px;
}
.box-product-best-seller .pro-tab-title{
    gap: 5rem;
}
.title-library {
    gap: 8rem!important;
}
.title-library .library {
    align-items: center;
    gap: 5px;
}
.brands img,
.box-feedback img,
.card img,
.item-category img {
    transition: all .3s ease-in-out;
}
.box-benefit .row {
    margin: auto -8px;
}
@media (max-width: 1280px) {
    .nav-link {
        font-size: 15px;
    }
    .box-product-best-seller .pro-tab-title,
    .title-library {
        gap: 1rem!important;
    }
    .pro-tab-title h2 {
        font-size: 18px;
    }
    .box-product-best-seller .pro-tab-title {
        justify-content: space-between;
    }
}
@media (min-width: 1024px) and (max-width: 1200px) {
    .container .box-news {
        max-width: 97%;
    }
    .container .cutomer-feedback {
        max-width: 98%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .ceo-box .col-6,
    .box-benefit .col-6 {
        width: 100%;
    }
    .container-product-library .product-item-left,
    .carousel-wrapper .item-category {
        width: 100%;
    }
    .pro-tab-title h2 {
        width: 60%;
    }
    .product-list-left .product-item-left {
        width: 50%;
    }
    .wrap-content-besiness .content-besiness {
        width: 48%;
    }
    .wrap-content-besiness {
        justify-content: space-between;
        gap: 25px;
    }
    .wrap-content-feedback {
        gap: 10px;
        justify-content: space-between;
    }
    .wrap-content-feedback .box-feedback,
    .item-category {
        width: 49%;
    }
    .box-product-best-seller .pro-tab-title {
        gap: 0;
    }
    .video-contact iframe {
        width: 100%;
        height: auto;
    }
    .see-more-desk, .product-img {
        display: none;
    }
    .tab-title-library, .title-library {
        display: block!important;
    }
    .tab-title {
        width: 100%;
        padding: 10px;
        overflow-x: auto; /* Cho phép cuộn ngang */
        overflow-y: hidden;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap!important;
    }
    .banner-ceo img {
        width: 100%!important;
    }
    .product-list-best, .product-list-hight {
        width: 100%!important;
    }
    .box-library .product-list-right {
        grid-template-columns: repeat(3, 1fr);
    }
    .content-benefit {
        padding: 30px 0 0;
    }
    .content-benefit .col-2 {
        width: 8.6%;
    }
    .content-benefit img {
        height: fit-content;
    }
    .cutomer-feedback .slick-next, 
    .box-news .slick-next {
        right: -9px;
    }
    .cutomer-feedback .slick-prev, 
    .box-news .slick-prev {
        left: -9px;
    }
    .card .content {
        padding: 0 15px;
    }
    .news-content {
        flex-direction: column;
    }
    .news-content .col-9,
    .news-content .col-3 {
        width: 100%;
    }
    .list-news {
        width: 95%;
    }
    .news-content {
        gap: 0;
    }
    .mobile-library, .info-content-category {
        display: none!important;
    }
    .box-benefit .row {
        margin: auto -8px;
    }
    .banner-1 {
        padding: 20px 0;
    }
    .ceo-box {
        padding: 20px 0 30px!important;
    }
    .title-box-category-mobile {
        display: block!important;
        font-size: 28px!important;
    }
    .box-categories {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .description {
        padding: 0px!important;
        margin-bottom: 10px;
    }
    .btn-new {
        width: 70%!important;
    }
    .content a,
    .description {
        -webkit-line-clamp: 1;
    }
    .list-news .btn-new {
        width: 30%!important;
    }
}

@media (max-width: 767px) {
    .ceo-box {
        padding-bottom: 0!important;
        padding-top: 20px!important;
    }
    .box-categories {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    .info-content-category {
        display: none;
    }
    .item-categories {
        padding: 15px!important;
    }
    .item-categories-icon img {
        width: 45px;
        height: 45px;
    }
    .item-categories-title a{
        font-size: 12px;
    }
    .title-box-category-mobile {
        display: block!important;
    }
    .wrap-ceo {
        padding: 0px;
    }
    .ceo-box .col-6 {
        width: 100%;
    }
    .carousel-title {
        font-size: 13px;
        line-height: 1;
        padding: 5px 0;
    }
    .carousel-button {
        font-size: 10px;
        padding: 8px 10px;
    }
    .box-categories .col-4, 
    .box-design .col-4, 
    .box-product-best-seller .col-4, 
    .box-product-hight .col-4, 
    .box-library .col-3, 
    .box-besiness .col-4,  
    .box-benefit .col-6 {
        max-width: 100%;
    }
    .box-design {
        padding-top: 40px!important;
    }
    .carousel-container {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .nav-link {
        font-size: 15px;
    }
    .slick-next, .slick-prev {
        display: none!important;
    }
    .box-product-best-seller .pro-tab-title {
        display: block!important;
    }
    .box-product-best-seller .product-item-right,
    .box-product-hight .product-item-right {
        width: 50%;
    }
    .product-list-best-seller .col-4, 
    .product-list-hight .col-4, 
    .product-list-left .col-4, 
    .product-list-left .col-3 {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .product-item-right-content a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box!important;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .product-list-right {
        padding: 0 5px;
    }
    .box-library .product-list-right {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-list-right .product-item-right {
        padding: 5px;
    }
    .banner-ceo img {
        width: 100%!important;
    }
    .product-img, .pro-img-hight-right, .tab-title .see-more,
    .library, .see-more-desk {
        display: none;
    }
    .product-list-hight, 
    .product-list-best,
    .product-item-right,
    .content-besiness .col-8,
    .pro-tab-title,
    .product-library-title {
        width: 100%;
    }
    .wrap-content-besiness .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .feedback .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .benefit-buy-product .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .tab-title {
        width: 100%;
        padding: 10px 10px 20px;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap!important;
    }
    .pro-tab-title .tab-title {
        gap: 10px!important;
    }
    .pro-tab-title .title,
    .product-library-title .title{
        margin-bottom: 5px;
        width: 100%;
        background-color: #e9e9e9;
        padding: 5px 15px;
        border-radius: 8px;
    }
    .pro-tab-title .title.active {
        background-color: #007bff;
    }
    .pro-tab-title .title.active a {
        color: #fff;
    }
    .wrap-feedback {
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
    .product-library-title .tab-title {
        gap: 10px;
    }
    .tab-title-library, .title-library, .slick-dots {
        display: block!important;
    }
    .mobile-library {
        display: flex!important;
    }
    .content-benefit {
        padding: 30px 0 0;
    }
    .slick-dots {
        bottom: -16px;
    }
    .info-block .info-block-content {
        width: 50%;
        margin-bottom: 20px;
        justify-content: flex-start!important;
    }
    .info-block {
        padding-bottom: 0!important;
    }
    .btn-best-seller {
        font-size: 13px;
        padding: 10px;
    }
    .card {
        display: block!important;
        height: auto!important;
    }
    .card .content {
        padding: 0 15px;
    }
    .box-besiness {
        padding: 20px 15px!important;
    }
    .box-besiness .col-12,
    .box-library .container {
        padding: 0;
    }
    .product-item-right {
        padding-bottom: 20px!important;
    }
    .img-rating {
        padding: 0 0 10px;
    }
    .product-hight-title {
        align-items: center;
    }
    .product-hight-title h2 {
        font-size: 18px;
    }
    .news-content {
        flex-direction: column-reverse;
        gap: 0;
    }
    .news-content .col-9,
    .news-content .col-3,
    .slide-right {
        width: 100%;
    }
    .list-news {
        width: 95%;
    }
    .slide-left {
        display: none;
    }
    .slide-left, .slide-right {
        padding-bottom: 40%;
    }
    .custom_slider {
        margin: 0px;
    }
    .wrap-content-besiness, .wrap-content-feedback {
        gap: 0px!important;
    }
    .news-title {
        padding-bottom: 0px !important;
    }
    .box-news {
        padding-bottom: 20px!important;
    }
    .tab-title-library .library {
        display: none!important;
    }
    .mobile-library h2 {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .mobile-library img {
        width: 18px!important;
        height: 18px!important;
    }
    .besiness-title h2,
    .title-degin h2,
    .cutomer-feedback h2,
    .info-content-title h2 {
        font-size: 22px;
    }
    .box-benefit .row {
        margin: auto -8px;
    }
    .custom_slider .slick-slide {
        margin: 0 5px;
    }
    .banner-1 {
        padding: 20px 0;
    }
    .description {
        padding: 0px!important;
        margin-bottom: 10px;
    }
    .btn-new {
        width: 70%!important;
    }
    .content a,
    .description {
        -webkit-line-clamp: 1;
    }
    .content-benefit img {
        height: fit-content;
    }
}
@media (max-width: 429px) {
    .container-home .info-content-text{
        line-height: 1.6;
    }
    .info-content-text p {
        font-size: 14px;
    }
    .cutomer-feedback h2,
    .news-title h2,
    .besiness-title h2,
    .title-degin h2,
    .benefit-buy-product h2,
    .title-box-category-mobile {
        font-size: 18px;
    }
    .wrap-ceo {
        margin-top: 20px;
    }
    .content-besiness h3 {
        font-size: 15px;
    }
    .item-categories-title a {
        font-size: 11px;
    }
    .item-categories {
        padding: 15px 0px!important;
    }
    .item-categories-title {
        padding-top: 5px!important;
    }
    .content-besiness p,
    .mobile-library h2,
    .product-hight-title h2 {
        font-size: 14px;
    }
    .info-block h2,
    .see-more {
        font-size: 12px;
    }
    .info-block span {
        font-weight: 300;
    }
    .btn-best-seller {
        padding: 3px 10px;
    }
    .nav-link {
        padding: 8px 15px;
        font-size: 13px;
    }
    .see-more {
        padding: 7px 10px;
    }
    .box-benefit .row {
        margin: auto -8px;
    }
    .border-bottom {
        width: 23%;
    }
}
@media (min-width: 320px) and (max-width: 430px) {
    .btn-new {
        font-size: 12px;
        width: 100%!important;
    }
}
