body {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
h1, h2, h3, h4, h5,h6 {
    font-weight: bold!important;
}
p {
    color: #4b4b4b;
}
.box-ceo{
    overflow: hidden;
}
.item-categories-title a {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.item-categories:hover a{
    color: #0a58ca;
}
.banner-ceo img{
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: -1;
    height: 100%!important;
    width: 98%!important;
    object-fit: cover;
    object-position: right;
    border-radius: 8px;
}
.banner-bg-footer img {
    position: absolute;  
    left: 0; 
    z-index: -1;
    height: 88%!important;
    width: 100%!important;
    object-fit: cover;
    object-position: left;
}
.wrap-ceo {
    position: relative;
}
.category-right {
    align-items: center;
    display: flex;
    background-color: #e8f0ff;
    border-radius: 8px;
}
.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
}
.carousel-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 15px 0;
    transition: transform 0.5s ease-in-out;
}
.item-category {
    max-width: 32%;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.item-category .zoom-img {
    margin-bottom: 10px;
}
.zoom-img {
    overflow: hidden;
}
.item-category:hover .zoom-img img,
.card:hover .zoom-img img {
    transform: scale(1.1);
    border-radius: 5px;
}
.carousel-title {
    font-weight: bold;
    font-size: 18px;
}
.carousel-text {
    margin: 6px 0 15px;
    font-size: 14px;
}
.carousel-button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    display: inline-block;
}
.yellow-button {
    background-color: #f1c40f;
}
.blue-button {
    background-color: #1abc9c;
    color: white;
}
.blue-button:hover {
    background-color: #1ea88d;
}
.navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    border-radius: 50%;
    height: 40px;
    width: 39px;
    z-index: 999;
}
.prev { left: 0; }
.next { right: 0; }
.slick-next:before {
    position: absolute;
    content: "";
    left: 30%;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-prev:before {
    position: absolute;
    content: "";
    left: 20%;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url('../images/left.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide-left,
.slide-right{
    padding-bottom: 20%;
}
.img-right-best-pro {
    padding-bottom: 100%;
}
.product-item-right-img,
.product-item-left-img {
    padding-bottom: 80%;
    border-radius: 8px;
}
.product-banner-left-img {
    padding-bottom: 180%;
}
.btn-best-seller {
    border-radius: 20px;
}
.btn-best-seller:hover {
    background-color: #1ea88d;
    border: 1px solid #1ea88d;
}
.btn-best-seller:hover span {
    color: #fff!important;
}
.tab-title {
    align-items: center;
}
.pro-img-hight-right {
    padding-bottom: 83%;
}
 .product-item-left-content {
    line-height: 2.8;
 }
.img-100:hover .hover-img {
    opacity: 1;
}
.nav-link {
    color: #000;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}
.nav-tabs .nav-link.active {
    border: 0px;
}
.nav-tabs .nav-link:hover {
    border: 0px;
}
.product-item-right .img-100 img {
    display: block;
    width: 100%;
    height: 100%;
}
.product-item-right:hover .img-100 .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.video-contact iframe {
    height: 100%!important;
}
.product-item-right-content a {
    display: block;
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
    font-size: 14px;
    color: rgba(45, 45, 45, 1);
    font-weight: 700;
    padding: 10px 0px 3px;
}
.product-item-right-content {
    text-align: center;
}
.mobile-library {
    display: none!important;
}
.img-rating {
    width: 80px;
    height: auto;
    padding: 0 0 20px;
}
.nav-item a {
    font-weight: 700;
}
.nav-tabs .nav-item.show .nav-link,
 .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #003366;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}
.content-besiness {
    width: 31%;
    border: 2px solid #e1e1e1;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.content-besiness:hover h3 {
    color: #003366;
}
.wrap-content-besiness, 
.wrap-content-feedback {
    gap: 30px;
}
.brands .custom_slider .img-brand {
    width: 100%;
    overflow: hidden;
    border-radius: 5px!important;
}
.brands li img:hover {
    transform: scale(1.2);
}
.form-contact {
    background-color: #d2d2d2;
    padding: 25px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.btn-submit {
    background-color: #003366;
}
.btn-submit:hover {
    background-color: #0056b3;
    color: #fff;
}
.banner-box-active img {
    position: absolute;  
    left: 0; 
    z-index: -1;
    height: 100%!important;
    width: 100%!important;
    object-fit: cover;
    object-position: left;
}
.text-title {
    line-height: 2.8;
}
.box-feedback {
    width: 31%;
    min-height: 210px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
}
.box-feedback ul li:nth-of-type(1) {
    width: 22%;
}
.box-feedback ul img {
    border-radius: 50%;
}
.box-feedback:hover img {
    transform: scale(1.1);
}
.wrap-content-besiness,
.wrap-content-feedback {
    flex-wrap: wrap;
}
.box-benefit {
    background-image: url('../images/banner-ceo-1920x537.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-slide img {
    border-radius: 5px;
}
.content-benefit img {
    height: 40px;
}
.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.fa-comment img,
.fa-eye img {
    width: 15px!important;
    height: auto;
}
.actions span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.date {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 99;
}
.content {
    padding: 0 15px 15px;
}
.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.description {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}
.actions {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 15px 0;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}
.actions .fa-comment{
    margin-right: 5px;
    color: rgb(240 1 6);
}
.actions .fa-eye{
    margin-right: 5px;
    color: rgb(0 43 197);
}
.btn-new {
    display: block;
    text-align: center;
    padding: 10px;
    color: #0056b3;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    border: 1px solid #0056b3;
    font-weight: 600;
}
.btn-new:hover {
    background: #0056b3;
    color: white; 
}
img {
    transition: transform 0.3s ease-in-out;
}
/* css-slickslider */
.custom_slider {
    display: flex;
    width: 100%;
    margin: 20px auto;
}
.custom_slider .item-category{
    width: 100%;
    border-radius: 10px;
}
.custom_slider .slick-slide {
    margin: 0 10px;
}
.brands .slick-prev, 
.brands .slick-next {
    width: 33px;
    height: 33px;
}
.brands .slick-next:before {
    left: 25%;
    top: 6px;
}
.brands .slick-prev:before {
    left: 20%;
    top: 6px;
}
.slick-prev {
    left: -16px;
}
.slick-next {
    right: -16px;
}
.slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 9999;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: rgb(0 0 0 / 50%);
}
.slick-track {
    padding: 15px 0;
}
.slick-dots {
    display: none!important;
}
.see-more {
    background-color: #f1ad2f;
    padding: 10px 15px;
    transform: skew(-10deg);
    font-weight: 700;
}
.see-more a {
    font-weight: 700;
}
.list-news {
    background: white;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 34px auto 20px;
}
.list-news .content:hover .title {
    color: #003366;
}
.list-content-news .content {
    padding: 0px 15px;
}
.list-content-news .content:nth-of-type(1),
.list-content-news .content:nth-of-type(2){
    border-bottom: 1px dotted #4b4b4b;
}
.card {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form-contact-content form label {
    margin-bottom: 0;
}
.info-block .info-block-content {
    align-items: center;
}
.info-block-content img {
    width: 40px;
    height: 40px;
}
.info-block-content span {
    font-size: 14px;
    font-weight: 500;
}
.card:hover .title {
    color: #003366;
}
.product-item-right {
    transition: all .3s ease-in-out;
    margin-bottom: 15px;
}
.product-item-right:hover {
    box-shadow: 0px 4px 8px rgba(0, 32, 92, 0.1);
    border-radius: 8px;
}
.news-content {
    gap: 25px;
}
.list-content-news {
    min-height: 382px;
    padding: 15px 10px;
    flex-direction: column;
    justify-content: space-between;
}
.tab-title .see-more {
    padding: 2px 0px;
}
.box-product-best-seller .tab-title {
    gap: 50px;
}
.title-library .tab-title {
    gap: 20px;
}
.title-library {
    gap: 8rem!important;
}
.title-library .library {
    align-items: center;
    gap: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        overflow: hidden;
    }
    .col-6, 
    .col-8, 
    .col-12 {
        width: 100%;
    }
    .col-4 {
        width: 33.333%;
    }
    .col-12 {
        flex-wrap: wrap;
    }
    .wrap-ceo {
        padding: 0px;
    }
    .container-product-library .product-item-left,
    .carousel-wrapper .item-category {
        width: 100%;
    }
    .pro-tab-title h2 {
        width: 60%;
    }
    .product-list-left .product-item-left {
        width: 50%;
    }
    .wrap-content-besiness .content-besiness {
        width: 48%;
    }
    .wrap-content-besiness {
        justify-content: space-between;
        gap: 25px;
    }
    .wrap-content-feedback {
        gap: 10px;
        justify-content: space-between;
    }
    .wrap-content-feedback .box-feedback,
    .item-category {
        width: 49%;
    }
    .box-feedback {
        min-height: 224px;
    }
    .form-contact-content .btn {
        width: 100%;
    }
    .contact .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .video-contact iframe {
        width: 100%;
        height: auto;
    }
    .card {
        width: 49%;
    }
    .see-more-desk, .product-img {
        display: none;
    }
    .tab-title-library, .title-library {
        display: block!important;
    }
    .tab-title {
        width: 100%;
        padding: 10px;
        overflow-x: auto; /* Cho phép cuộn ngang */
        white-space: nowrap;
        scrollbar-width: none;
        display: flex;
        flex-wrap: nowrap!important;
    }
    .mobile-library {
        display: flex!important;
    }
    .see-more .nav-link {
        color: #fff;
    }
    .banner-ceo img {
        width: 100%!important;
    }
    .slick-dots {
        bottom: -16px;
        display: none!important;
    }
    .product-list-best, .product-list-hight {
        width: 100%!important;
    }
    .product-list-right .product-item-right {
        width: 33.33%;
    }
    .content-benefit {
        padding: 30px 0 0;
    }
    .content-benefit .col-2 {
        width: 8.6%;
    }
    .cutomer-feedback .slick-next, 
    .box-news .slick-next {
        right: -9px;
    }
    .cutomer-feedback .slick-prev, 
    .box-news .slick-prev {
        left: -9px;
    }
    .form-contact {
        border-radius: 8px;
    }
    .card .content {
        padding: 0 15px 15px;
    }
    .news-content {
        flex-direction: column;
    }
    .news-content .col-9,
    .news-content .col-3 {
        width: 100%;
    }
    .list-news {
        width: 95%;
    }
    .news-content {
        gap: 0;
    }
    .mobile-library {
        display: none!important;
    }
    .box-contact {
        padding-top: 20px!important;
    }
    
}

@media (max-width: 760px) {
    .container {
        overflow: hidden;
    }
    .banner-bg-video iframe {
        width: 100%;
        height: auto;
    }
    .ceo-box {
        padding-bottom: 0!important;
    }
    .wrap-ceo {
        padding: 0px;
    }
    .col-6 {
        width: 100%;
    }
    .col-12 {
        flex-wrap: wrap;
        width: 100%;
    }
    .carousel-title {
        font-size: 13px;
        line-height: 1;
    }
    .carousel-button {
        font-size: 12px;
    }
    h2 {
        font-size: 22px!important;
    }
    .box-categories .col-4, 
    .box-design .col-4, 
    .box-product-best-seller .col-4, 
    .box-product-hight .col-4, 
    .box-library .col-3, 
    .box-besiness .col-4, 
    .box-contact .col-6, 
    .box-benefit .col-6 {
        max-width: 100%;
    }
    .carousel-container {
        display: flex;
        align-items: center;
        padding: 0;
    }
    .carousel-wrapper {
        display: flex;
        align-items: center;
    }
    .carousel-wrapper .item-category {
        margin-bottom: 15px;
        width: 50%;
    }
    .slick-next, .slick-prev {
        display: none!important;
    }
    .navigation {
        display: none;
    }
    .box-product-best-seller .pro-tab-title {
        display: block!important;
    }

    .product-list-best-seller .col-4, 
    .product-list-hight .col-4, 
    .product-list-left .col-4, 
    .product-list-left .col-3 {
        flex: 0 0 50%;
        max-width: 100%;
    }
    .product-item-right-content a {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .product-list-right {
        padding: 0 5px;
    }
    .product-list-right .product-item-right {
        width: 50%;
        padding: 5px;
    }
    .banner-ceo img {
        width: 100%!important;
    }
    .product-img, .pro-img-hight-right {
        display: none;
    }
    .product-list-hight, 
    .product-list-best,
    .product-item-right,
    .content-besiness .col-8,
    .pro-tab-title,
    .product-library-title {
        width: 100%;
    }
    .wrap-content-besiness .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .contact .col-12 {
        display: block!important;
    }
    .contact .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form-contact-content .btn {
        width: 100%;
    }
    .feedback .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .benefit-buy-product .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .form-contact {
        padding: 10px 15px!important;
        border-radius: 8px;
    }
    .form-contact-content form {
        display: flex;
        flex-direction: column;
    }
    .form-contact-content form .mb-3 {
        margin-bottom: 10px;
    }
    .form-contact-content form button {
        align-self: center;
    }
    .tab-title {
        width: 100%;
        padding: 10px;
        overflow-x: auto; /* Cho phép cuộn ngang */
        white-space: nowrap;
        scrollbar-width: none;
        display: flex;
        flex-wrap: nowrap!important;
    }
    .tab-title .see-more {
        display: none;
    }
    .pro-tab-title .tab-title {
        gap: 10px!important;
    }
    .pro-tab-title .title,
    .product-library-title .title{
        margin-bottom: 5px;
        width: 100%;
        background-color: #e9e9e9;
        padding: 5px 15px;
        border-radius: 8px;
    }
    .pro-tab-title .title.active {
        background-color: #007bff;
    }
    .pro-tab-title .title.active a {
        color: #fff;
    }
    .wrap-feedback {
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
    .product-library-title .tab-title {
        gap: 10px;
    }
    .more-product {
        text-align: center;
        margin-top: 10px;
    }
    .library, .see-more-desk {
        display: none;
    }
    .tab-title-library, .title-library {
        display: block!important;
    }
    .mobile-library {
        display: flex!important;
    }
    .see-more .nav-link {
        color: #fff;
    }
    .content-benefit {
        padding: 30px 0 0;
    }
    .slick-dots {
        bottom: -16px;
        display: block!important;
    }
    .info-block .info-block-content {
        width: 50%;
        margin-bottom: 20px;
        justify-content: flex-start!important;
    }
    .btn-best-seller {
        font-size: 14px;
        padding: 3px 10px;
    }
    .card {
        display: block!important;
        height: auto!important;
    }
    .card .content {
        padding: 0 15px 15px;
    }
    .box-besiness, .box-contact {
        padding: 20px 15px!important;
    }
    .box-contact .col-12, 
    .box-besiness .col-12,
    .box-library .container {
        padding: 0;
    }
    .product-item-right {
        padding-bottom: 20px!important;
    }
    .img-rating {
        padding: 0 0 10px;
    }
    .product-hight-title {
        align-items: center;
    }
    .news-content {
        flex-direction: column-reverse;
        gap: 0;
    }
    .news-content .col-9,
    .news-content .col-3,
    .slide-right {
        width: 100%;
    }
    .list-news {
        width: 95%;
    }
    .slide-left {
        display: none;
    }
    .slide-left, .slide-right {
        padding-bottom: 40%;
    }
    .custom_slider {
        margin: 0px;
    }
    .wrap-content-besiness, .wrap-content-feedback {
        gap: 0px!important;
    }
    .news-title {
        padding-bottom: 0px !important;
    }
    .box-news {
        padding-bottom: 20px!important;
    }
    .tab-title-library .library {
        display: none!important;
    }
    .mobile-library h2 {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    .mobile-library img {
        width: 18px!important;
        height: 18px!important;
    }
}