/* Banner  */
.banner .wrap-img{
    padding-bottom: 25.19%;
}

.banner .slick-dots {
	display: flex;
	justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.banner .slick-dots li{
    margin: 0 5px;
}

.banner .slick-dots button{
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    text-indent: -9999px;
}

.banner .slick-dots .slick-active button{
    background-color: #17335f;
}


/* End banner  */