.imgProduct{
    padding-bottom: 95%;
    border-radius: 7px;
  }

.contentProduct{margin: 10px;}

.contentProduct .btn{
    padding: 0px 2px;
  }
  
.contentProduct p{
    margin: 0px;
  }
  
.contentProduct img.star{
    height: 10px !important;
    width: 10px !important;
  }
  
.contentProduct .fa-star{
    font-size: 10px !important;
  }
